<mat-card class="my-5 w-75 m-auto">
  <mat-card-header>
    <h2>Registeration</h2>
  </mat-card-header>
  <mat-card-content>
    <form
      class="example-form d-flex flex-column"
      [formGroup]="registerForm"
      (ngSubmit)="processRegistertion()"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="id" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
        />
        <a
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </a>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>
      <mat-radio-group formControlName="gender" aria-label="Select an option">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>
      <div>
        <button mat-raised-button color="primary" class="mx-2">Submit</button>
        <a routerLink="/login" mat-raised-button color="accent"
          >Back to Login</a
        >
      </div>
    </form>
  </mat-card-content>
</mat-card>
