<h1 mat-dialog-title>Update User</h1>
<div mat-dialog-content>
  <form
    class="d-flex flex-column"
    [formGroup]="updateUserForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="id" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
      />
      <a
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </a>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Role</mat-label>
      <mat-select
        formControlName="role"
        [disabled]="originalUserData?.role === 'user'"
      >
        <mat-option value="admin">Admin</mat-option>
        <mat-option value="user">User</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="isactive">Active</mat-checkbox>
    <div mat-dialog-actions>
      <button mat-button type="button" (click)="onNoClick()">Cancel</button>
      <button mat-button type="submit" [disabled]="!updateUserForm.valid">
        Update
      </button>
    </div>
  </form>
</div>
